@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;600&family=Poppins&family=Roboto&family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(14, 35, 67);
    color: #ffff;
    font-family: 'Poppins', sans-serif;
}

#header {
    width: 100%;
    height: 900px;
    background: black;
    background-image: url(images/bg4.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    padding:2px 0px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: rgb(7, 17, 32);
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a img{
    height: 70px;
    width: 190px;
    padding: 10px 0px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'MuseoModerno', cursive;
    position: relative;
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(179, 211, 22);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .fa-solid{
    display: none;
}


.headtext {
    margin-top: 10%;
    margin-left: 8%;
    font-size: 30px;
    float: left;
    text-align: left;
}

.headtext h1 {
    font-size: 50px;
    margin-top: 5px;
    font-family: 'MuseoModerno', cursive;
}
.headtext p{
    font-family: 'Playfair', serif;
    color: rgb(179, 211, 22);
}

/* ===================about====================  */
#about {
    padding: 80px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;

}

.about-col-1 {
    flex-basis: 30%;
    margin-left: 100px;
    box-shadow: 10px 10px 7px rgb(179, 211, 22);
    border-radius: 15px;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.about-col-2 p{
    text-align:left;
    margin: 25px;
    font-size: 1.25rem;
}
.about-col-2 #topp{
    margin-top: 50px;
}
.subtitle {
    font-size: 50px;
    font-weight: 500;
    color: white;
}

/* =================Our services=============  */

#services {
    padding: 10px 150px;
}
.sub-title{
    font-size: 45px;
    font-family: 'Roboto Mono', monospace;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 60px;
    margin: 60px 0;
    color: rgb(0, 0, 0);
    
}

.services-list div{
    background: rgb(255, 255, 255);
    height: 490px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background .2s, transform 0.2s;
    box-shadow: 7px 7px 5px rgb(192, 216, 68);
}
.container{
    text-align: center;
}
.services-list div img{
    height: 180px;
    width: 100%;
    border-radius: 10px;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    text-align: center;
}
.services-list div p{
    text-align: left;
    margin-top: 9px;
    margin-left: 12px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
}
.services-list div a:hover{
    color: rgb(255, 196, 0);
}

.services-list div:hover {
    transform: scale(1.05);
    transition: 0.8s;
}

/* style for learn more  */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
    margin-left: 20px;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2.5rem;
    height: 2rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.35rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   button.learn-more .button-text a{
    color: #282936;
    text-decoration: none;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text a {
    color: #ffffff;
   }
   #fi{
    margin-top: 25px;
   }
   #se{
    margin-top: 25px;
   }
   #th{
    margin-top: 43px;
   }
   #fo{
    margin-top: 10px;
   }

/*================== Our team ===================*/

.teamm{
    border-top: 1px solid white;
    padding: 0px 50px;
    text-align: center;
    margin-bottom: 200px;
}
.sub-title{
    margin-top: 20px;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 60px;
    margin: 60px 0;
}
.work-list div{
    box-shadow: 5px 5px 8px rgb(212, 233, 108);
}
.work-list div img{
    height: 280px;
    width: 100%;
    border-radius: 10px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.2s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: rgb(12, 12, 179);
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}
/*------------Zoom in Photos--------------*/
.zoom-img {
    float: left;
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
  }
  
  .zoom-img .img-card {
    position: absolute;
    overflow: hidden;
  }
  
  .img-card img {
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  
  .card:hover .zoom-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

/*================== footer ===================*/
footer{
    background-color: rgb(7, 17, 32);
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(images\footer-sideshape.png);
}
.detail{
    padding: 30px 0px;
    padding-left: 80px;
    width: 33.3%;
}
.links{
    padding: 30px 0px;
    padding-left: 80px;
    width: 33.3%;
}
.links h2{
    margin-bottom: 25px;
}
.links>ul>li{
    list-style: none;
    margin: 5px 0;
}
.links>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.links>ul>li>a i{
    padding-right: 10px;
}
.links>ul>li>a:hover{
    color: rgb(49, 122, 231);
}
.contact{
    padding: 30px 50px;
    width: 33.3%;
}
.contact h2{
    margin-bottom: 25px;
}
.contact p{
    margin: 10px 0;
}
.contact p i{
    margin-right: 10px;
}
.social{
    margin: 20px 0;
}
.social a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.social a i{
    transition: transform 0.7s;
}
.social a:hover i{
    transform: scale(1.4);
    
}

#ins{
    margin: 0 15px;
}
.social a:hover #fb{
    color: blue;
}
.social a:hover #lin{
    color: #0A66C2;
}
.social a:hover #ins{
    color: #d62976;
}
.social a:hover #you{
    color: red;
}
#you{
    margin-left: 15px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    height: auto;
    /* text-align: center; */
    color: rgb(86, 86, 86);
    border-top: 1px rgb(90, 89, 89) solid;
    margin: 0 30px;
}
.copyright div{
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.5s;
}
.copyright div>a i{
    padding: 7px;
}
.copyright div:hover{
    background-color: rgb(115, 168, 249);
    transform: translateY(-8px);
}


/* ================css for small screens=============== */

@media only screen and (max-width:600px){
    #header{
        background-image:url(bg3.jpg) ;
        height: 100vh;
    }
    .headtext{
        margin-top: 35%;
        font-size: 18px;
        /* float: left; */
    }
    .headtext h1{
        font-size: 20px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav a img{
        height: 70px;
        width: 130px;
        
    }
    nav ul{
        background: rgb(7, 17, 32);
        position:fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 3;
        transition: right 0.5s;
        opacity: 1;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .footer{
        display: block;
    }
    .detail{
        width: 100%;
    }
    .contact{
        width: 100%;
        padding-left: 80px;
    }
    .links{
        width: 100%;
    }
    .copyright>p{
        font-size: 10px;
        text-align: center;
    }
    #services {
        padding: 30px 20px;
    }
    .about-col-1 {
        flex-basis: 80%;
        margin-left: 40px;
    }
    .about-col-2 {
        flex-basis: 100%;
    }
    .subtitle {
        font-size: 30px;
        font-weight: 600;
        color: white;
        margin-top: 50px;  
    }
    .about-col-2 p{
        text-align:left;
        margin: 25px;
        font-size: 1.1rem;
    }
    .sub-title{
        font-size: 30px;
    }



    .services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        grid-gap: 20px;
        
    }
    
    .services-list div{
        background-color:#fff;
        height: 500px;
        font-size: 3px;
        font-weight: 300;
        border-radius: 10px;
        transition: background .2s, transform 0.2s;
    }
    .container{
        text-align: center;
    }
    .services-list div img{
        height: 200px;
        width: 100%;
        border-radius: 10px;
    }
    .services-list div a {
        font-size: 12px;
    }
    .services-list div h2{
        text-align: center;
        font-size: 25px;
        margin-top: 15px;
    }
    .services-list div p{
        text-align: left;
        font-size: 13px;
    }
}
